@import './../var.css';

.Content {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Content h1,
.Content p {
  color: var(--main-header);
}

.Container {
  margin-bottom: 20%;
}

.Content h1 {
  margin: 0;
}


.Container .imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .Container {
    display: flex;
    justify-content: space-evenly;
  }

  .Container .imgDiv,
  .Container .Content {
    width: 40%;
  }

  .Content h1 {
    font-size: 3em;
  }

  .Content p {
    font-size: 1.5em;
  }

}